<mat-card class="controls-card">
    <mat-card-title>Graph settings</mat-card-title>
    <mat-card-subtitle>Use the settings below to update the graph</mat-card-subtitle>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Primary graph type</mat-label>
            <mat-select [(value)]="primaryGraph">
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="spaced-field">
            <mat-label>Secondary graph type</mat-label>
            <mat-select [(value)]="secondaryGraph">
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="spaced-field">
            <input matInput [matDatepicker]="startDatePicker" [formControl]="startDateForm"
                placeholder="Choose a start date">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="spaced-field">
            <input matInput [matDatepicker]="endDatePicker" [formControl]="endDateForm"
                placeholder="Choose an end date">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="startDateForm.pristine" (click)="update()"
            class="spaced-field">Update</button>
    </mat-card-content>
</mat-card>
<mat-card class="chart-card" *ngIf="chartVisible">
    <div class="flex">
        <div class="flex-item">
            <div class="canvas-container">
                <canvas baseChart width="500" height="500" [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
            </div>
        </div>
    </div>
</mat-card>