<h1 class="mat-h1">Last 30 recorded days' stats</h1>
<div class="stats-container">
    <div class="stat">
        <mat-card class="block">
            <mat-card-header>
                <div mat-card-avatar class="hero-icon-1"></div>
                <mat-card-title>Best Average</mat-card-title>
                <mat-card-subtitle>This month's best average</mat-card-subtitle>
                <span class="more-info" matTooltipClass="custoom-tooltip"
                    matTooltip="We carefully analyse the last 30 night sleeps, average their score and then decide on which day of the week you had the most restful sleep. Think of the activities the day before and after the sleep to figure out what makes you feel more relaxed or stressed."
                    [matTooltipPosition]="tooltipPosition">i</span>
            </mat-card-header>
            <mat-card-content>
                <span class="mat-display-1">{{data.best_day.best_day_name}}: {{data.best_day.best_day_score}}%</span>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialog()">More</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="stat">
        <mat-card class="block">
            <mat-card-header>
                <div mat-card-avatar class="hero-icon-2"></div>
                <mat-card-title>Performance</mat-card-title>
                <mat-card-subtitle>The overall performance this month</mat-card-subtitle>
                <span class="more-info" matTooltipClass="custoom-tooltip"
                    matTooltip="This tells you how your sleep has improved over the last month, compared to the previous month. We average the score for the previous 30 days and check if it increased or decreased from the previous month's performance."
                    [matTooltipPosition]="tooltipPosition">i</span>
            </mat-card-header>
            <mat-card-content>
                <span class="mat-display-1" [ngClass]="(data.performance < 0)?'text-red':'text-green'">
                    <span *ngIf="data.performance > 0">+</span>{{data.performance}}%</span>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [disabled]="true">More</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="stat">
        <mat-card class="block">
            <mat-card-header>
                <div mat-card-avatar class="hero-icon-3"></div>
                <mat-card-title>Last night's score</mat-card-title>
                <mat-card-subtitle>{{lastNightMessage}}</mat-card-subtitle>
                <span class="more-info" matTooltipClass="custoom-tooltip"
                    matTooltip="We track lots of data while you are asleep, but don't worry, your information is safe with us. Here you can read about an in-depth analysis of your last night's sleep."
                    [matTooltipPosition]="tooltipPosition">i</span>
            </mat-card-header>
            <mat-card-content>
                <span class="mat-display-1">{{data.weekday}}: {{data.score}}%</span>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [disabled]="true">More</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class="card-container">
    <div class="piechart-card">
        <mat-card class="height-full">
            <mat-card-content>
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                    [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
                </canvas>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="hipogram-card">
        <mat-card class="height-full">
            <mat-card-content>
                <canvas baseChart [datasets]="scatterChartData" [options]="scatterChartOptions"
                    [labels]="scatterChartLabels" [chartType]="scatterChartType">
                </canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>